.booking-history-table-responsive{
    table{
        thead{
            tr{
                th:first-child{
                    width: 9%;
                }
                th{
                    width: 13%;
                }
            }
        }
    }
}