.location_table_responsive{
    height: 200px;
    overflow-y: auto;
    table{
        thead{
            tr{
                th:first-child{
                    width: 5%;
                }
                th:last-child{
                    width: 15%;
                }
            }
        }
    }
}